body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*

@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W*##############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*##############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@##############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WWWWWW*W@WWWWWW@@@@W*#############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W,,+, ,W*,  +W@@@@@@@#############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WWW ,          .WWW@@@@*############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WW                , :W@@@@############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W               ,, , W@@@W*###########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W*    ,   ,,          *@@@@############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W, ,.WWWWW+,        , ,W@@@@###########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@, ,W@WWWWW@ ,,     ,  @@@@W*##########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W    WW# ,W@WW,, W,@WW  ,W@@@###########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W    ,, W+:@@W,,*W@@@WWW W@@@*##########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W     ,@WW@W@WW  *W@WWW@WWW@@@###########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W,    ,,WWWWW*    W@, ,@@@@@@@@##########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W     ,   ,,, , , @WWW,:W@@@@@###########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@W@@@@W        ,  ,  , ,, W@WW@@@@@W###########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W,          ,       WW@WW@@@@W*##########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@WW W@W         ,WW +,  .  WWW  W@@@*##########################################################################
@@@@@@@@@@@@@@@@@@@@@@@W   WW+ ,       W:,WWWW@W ,    ,W@@@*##########################################################################
@@@@@@@@@@@@@@@@@@@@@@@W   +WW,        ,   +@@@WW,,    W@@@###########################################################################
@@@@@@@@@@@@@@@@@@@@@@@W    WW,           , WWW#W      W@@@###########################################################################
@@@@@@@@@@@@@@@@@@@@@@@W    W            , ,,W:,       W@@W*##########################################################################
@@@@@@@@@@@@@@@@@@@@@@@W.   W            .WWW ,,       W@@@###########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@W,  ,          *WWWWWWW       ,W@W*###########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@WW ,:         ,@W  ,WW@W       WW#############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@W@W         ,W:, ,, WW      :@*#############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@W@, ,           ,   W    ,,@###############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@W,            ,    ,     ,W################################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@W, .,        ,:WWW*.    ,.W################################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@W  @W ,,      *@WWWW,   ,W#################################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@W, ,@W#       ,  @W,,  ,W@*################################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@W ,WW@W  ,,         ,,W@@#################################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@W  ,W@@W@@,   ,   ,,,*WW##################################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@W    W@@W@WWWWWWWWW@WWW###################################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@W,  , W@@@@@@@@@@@@@W@W###################################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*   ,,W@@@@@@@@@@@@@@@*##################################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   , @@@@@@@@@@@@@@@@*##################################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W ,   WW@@@@@@@@@@@WW*W*#################################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W     ,WWWW@@@@@@WWW, WW#################################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WW,        W@@@WWW@,  W@@*###############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@.,       WWW@WWW,,,,W@@@@*##############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W        WWW ,, ,,,WW@@@@W#*############################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W, ,     WW,     ,*@@@@@@@@@*###########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#         ,,,   ,,W@@@@@@@@@W@**########################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W W,             ,W@W@@@@@@@@@W@***#####################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W,W ,           ,W@@@@@@@@@@@@@@@@W@*#**################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W, W,,        W@@@@@@@@@@@@@@@@@@@@@@@################################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@W@@@@W, W         .W@@@@@@@@@@@@@@@@@@@@@@@@WW#*###########################################################
@@@@@@@@@@@@@@@@@@@@@@@@@W@@@@@@W, ,       ,,W@@@@@@@@@@@@@@@@@@@@@@@@@@@@WW@@#*######################################################
@@@@@@@@@@@@@@@@@@@@@@@@@WWWW@@@W,          WW@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WW######################################################
@@@@@@@@@@@@@@@@@@@@@W@@W ,,.W@@W        ,,@W@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*####################################################
@@@@@@@@@@@@@@@@@@@@@@@@@W  ,,@@W,      ,,,W@@@@@@@@@WW@@@@@@@@@@@@@@@@@@@@@@@@@@#####################################################
@@@@@@@@@@@@@@@@@WWWW@@@@WW,,#.WW,       ,WW@@@@@@@W@,**W@@@@@@@@@@@@@@@@@@@@@@@@*####################################################
@@@@@@@@@@@@@@@@WW, +WWW@@ , WWW  ,    ,.W@W@@@@W@*,WW@, WWWWW@@@@@@@@@@@@@@@@@@@@####################################################
@@@@@@@@@@@@@@@@@WWW   ,WWW, W@#        WWW:*W@@@@@W@@@WW,, @W@@@@@@@@@@@@@@@@@@@@####################################################
@@@@@@@@@@@@@@@@@@@@WWW@  WW W@W, ,   , W@W W@@@@@@@@@@@@W@  W@@@@@@@@@@@@@@@@@@@@####################################################
@@@@@@@@@@@@@@@@@@@@@@@@@WW , WWW,     ,W@@W@@@@@@@@@@@@@@@WW WWW@@@@@@@@@@@@@@@@W####################################################
@@@@@@@@@@@@@@@@@@@@@@@@@WW@WW   W    ,W@@@W#@@@@@@@@@@@@@@WWW  W@@@@@@@@@@@@@@@@@*###################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WWW,,  ,WW@@@@*@@@@WW@W@W@@@@@@WW@W@W@@@@W@@@@@@@@@@*###################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WWWW  WW@@WW@@@:,WWWW,WW@@@@@@@@W  WWWW@@@@@@@@@@*###################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W@@@@@@WWW,,,WW@@@@@@+  , WW@@@@@@@@W@,,W@@@@@@@@@@@*###################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WW, W@@@WWWWWWW. WW@@@@@@@@WW@@@@@@@@@@@@@@###################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@   , WWW ,WWWWWW#,W@@@@@@@@@@@@@@@@@@@@@@@@###################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WWW@,   , ,,WWWWWW@@@W@@@@@@@@@@@@@@@@@@@@@@##################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WWWW* ,,, :  ,.WWW@@@@@@@@@@@@@@@@@@@@@@##################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WWWW@WWWWW  W@@@@@@@@@@@@@@@@@@@@@*##################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W W@@@@@@@@@@@@@@@@@@@@@####################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WW,,W@@@@@@@@@@@@@@@@@@@@@*###################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WWWWW +,*@@@@@@@@@@@@@@@@@@@@@@@###################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W@@W@W@@@@@@@@@@@,     W@@@@@@@@@@@@@@@@@@@@@@@W@*#################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WW@@WWWWW, :@@@@@@@@@W,    @WW@@@@@@@@@@@@@@@@@@@@@@@@W#################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@WW, WW+       W@W@@@@@@@WW ,, ,,W@@@@@@@@@@@@@@@@@@@@@@@@@@@*####**#######################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@W  , ,          ,*W@@@@@@@@W @*@W@@@@@@@@@@@@@@@@@@@@@@@@@@@W@**#WW@@#*#########*#*#######################
@@@@@@@@@@@@@@@@@@@@@@@@@@@W,,  ,,      ,   , @WW@@@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W@@@@@W@##***###*@@W*######################
@@@@@@@@@@@@@@@@@@@@@@@@@@W+              ,    ,WW@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@@@@@@@@@@@@@@W@@@@@@@#######################
@@@@@@@@@@@@@@@@@@@@@@@@@@W  ,            ,W,,, ,,W@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W@@@W@@@@@@@@@@@@@@@@@@@@+@@#######################
@@@@@@@@@@@@@@@@@@@@@@@@@@W, ,           , W@,, , W@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W@@W*@@@@@@@@@@@@@@@@@@#*@W#######################
@@@@@@@@@@@@@@@@@@@@@@@@@W:,, ,  ,,, ,, WW@WW ,W  W@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*W@@@@@@@@@@@W*#@W#######################
@@@@@@@@@@@@@@@@@@@@@@@@@W WW W,,@WW,   W@@@@W,@WW@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W@@@@@@@@@@@@@##*W@#######################
@@@@@@@@@@@@@@@@@@@@@@@@@W, : WWWW@W  WW@@@@W#  W@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*@@@@@@@*##@W*######################
@@@@@@@@@@@@@@@@@@@@@@@@@W,,: +W@@:   +W@@@@W , W@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WW@##@@@W@#*WW#######################
@@@@@@@@@@@@@@@@@@@@@@@@WW ,WW WWWW:   :W@@@WW W@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WW@@#######################
@@@@@@@@@@@@@@@@@@@@@@@@@W,+WW WW WWW+  W@@@@@W@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WW@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#######################
@@@@@@@@@@@@@@@@@@@@@@@@@W@,WW,  , WWWWW@@@@WW@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WW   ,@@@@@@@@@@@@@@@@@@@@@@@@@@@@#######################
@@@@@@@@@@@@@@@@@@@@@@@@@@@ WWW ,,,,WW@@@@W,WW@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W ,  :WWW@@@@@@@@@@@@@@@@@@@@@@@@@*######################
@@@@@@@@@@@@@@@@@@@@@@@@@@WW WWW    W@@@@@W ,W@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W    ,,,,WW@@@@@@@@@@@@@@@@@@@@@@@W#**###################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@ .WW@WWW@@@@@W ,W@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#, ,   , W@@@@@@@@@@@@@@@@@WW@@@@@@@W*###################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@W ,W@@@@@@@@@@WWW@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W         +W@@@@@@@@@@@@@@@@@*W@@W@W@@@@#@*###############
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W W@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W,        WW@@@@@@@@@@@@@@@@@WW@W#**#@W@@@@@@@@###########
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W          W@@@@@@@@@@@@@@@@@@@#*#####***@@@@@@@@*########
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W:,  ,,,,,,*@@@@@@@@@@@@@@@@@@**##########*##@@@@W W*#####
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W  W       W@@W@@@@@@@@@@@@@@@W#**##########*#@@WW@@#####
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@WWW+*WW@@, ,,,, W@@@@@@@@@@@@@@@@W@@W@*############W@######
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W@@@@@@@@WW+W@@@W,,, , ,WW@@@@@@@@@@@@@@@@@@W#############*#######
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W*@@@@@@@@@W,#@@@@@WWWWW,  @@@@@@@@@@@@@@@@@@@@@*###################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@@@@@W, W@@@@@@@@@W@WW@@@@@@@@@@@@@@@@@@@W####################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*#**#@@@@@@W  ,W@@@@@@@@@@@@@@WW@@@@@@@@@@@@@@@W####################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W*###*@@@@@@W,WW@@@@@@@@@@@@W@@#**#W@W@@@@@@@@@@@####################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*#####@@@@@W,WW@@@@@@@@@@@@@@@#####***#W@@@@@WW*####################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*#######W@@@W:*@@@@@@@@@@@@@@@W*#######*#*#**##*#####################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W**#######@@@@WW@@@@@@@@@WWWW@#*######################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@W##########@@@*W@W@@@@@@##**##########################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@###########W@@WW,W@@W#*##############################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*############@@@@WW@W*################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*###########*#@@@@@W*#################################################
@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*#############@@@@W*##################################################

**++**####@#####*@#*##***#***+**+#*******+*******++++++++++::::...,,,,,:
*++***####@####*#*##*##*******+++****+****+**+*+*++*++++*+++::::...,,,, 
+++**#########*##***#*****+***++*+**+*+***++**+****++++++++++:::::...,,,
++**############*#***#*****+***+++++*+*+***+********+*+++++++::.::::..,,
***###############****#*****++**+++++*+*+***:**+*+****+*+++++:::::.::.,,
****#*###*###*###*#*+**#****++****++++++++**++****+****+++++++:.:..:.::.
**+*****###**#****#**+**#+**++++**++:+:*+++#*+*********+++++++::.:.:....
*+*******###**#*******++******+++**+*++:++++#*+**+*****++++:+++:...:.:+:
+*+********************++****+++++**+*:+:++++*+****+******+++:++:..,::::
++*+********+*+*****+**+++***++++++*++*++::++**+**+******++++::++:...:.:
++++*********+++++***+*+++****++++++*++*+::+++**+***+**++*++++:::::,..:.
:+++++**+***++*:++++**+*+++*+*++++++*+++**:.++++++*+*****++++:::.::.,,..
+++++++++***+*+++++++**++++++***+++:+*+++*++.::+**++****++++++::::::.,,,
++++++++++*++++++:++++++++:++****+++::*+++**+:::+***++****+++++:..::..,,
+++++++:+++++++++::+*++*+++++*+***++++:++++**+:::+#+*++***++++::....:..,
++++++:::+++++++++::++++++++++++***++++:+++++++:::+#**++***++++:+.:..:.,
:+::+:::+:+++++++++::++++*+++++**+**+:++:++++*++:::+***++++++::+::..,:..
+:::+.::+:+:++++:++:::+++++++++++****+:++:+++++++::.+*+**+++++:::+...,:.
+:::::::+:::::++++++:::++++++++++++***++++++++++++::.+*++++++++:+::...,.
+::::..:::::::+++:++::+:+++++*++++*++*++:++++++++++::.:*++++++++++::.,.,
+:::::.::::::::+:+::+::+::++++*+++++*+**+++++++++++::.::+++++++++++:....
:::::.:.::::::::++:+++:++++++++*++++++++**++++++++++::.::++**++++++::...
:::::::...:::+:::::++++++++++++:***+++++++++*+++++++:::.+:+****+++:++:..
:..::.::::::::::::::+++:++++++++++++++***+++:++:+:+:+:::::++#:++++++++:.
...::..:.::::::::::+:+++++++++++++++++++*****++++:++++::+:++*+++++++++:+
...::.....::::::::::::+++:++++:+++++**+++++****+++++:++::::+++++:++++::+
...::.....::::::::+:::+:+++++++++++++++++**++++*++++++::+:++:+++++++::+:
....::....::.::::::::::+++++++++++++++***+***+++++++++++:::+++++++++++::
.....:.....::.:::::::::+++++++++++++++++***+****++++++++++:+::++++++++++
.....:.....:.::::.::::::++++++++:++++++*+****+++*++++*++::++++++++:+++++
,.....:.....:..:::.:::::+++++++:+++++++++++++***++++++***+++::++++++++:+
.....::......:..::::::++:+++++++:+:+++++++++++++++++++++++++++++++:++:+:
......::.........::::++++:++++++++::+++++*++**++*****+++++++++++*++++:::
.......:.......::::::++++++++++++::::+++++*+++*++******+++++++++++++++::
........::......::::::++++++++++++::::++++++**++++++*+**++++++++++++:::.
.........:.......::::+:++++++++++++::::+++++++*+++++++++++++++++++::::..
..................::::+:++++++++++++::::++++++++*++++++++++++++::::::..,
............:......::::++++++++++++::+::::++++++++++++++++++++:::::....,
.::..........:.......::::+++++++++:::::::+++++++++++++++++::::::::....,,
+:::::.....,,,.........:::::+++++++:::+++**+++++++++++++++:::::::::..,,,
:.:++:::,,..,,,,..........:::++++++++++**+::.::::::++++*+:::....:....,,,
*...:++::.,................:::+++++++*+++:::...:::::+++*:::.....::...,,,
*:....+++::......,...........::++++*++++:::::::::::+++**:............,,,
+::....:*++::..................:++++++++:::::::::::++***:.............,,
+*::.....+*++:.................::+++++++++++++++++++***+...,,.........,,
+#:::::::::+++:................:::++++:+++*************+...,,,........,,
+#++:+++++++++::................::++::++:++++**********:...,,,,.......,,
+*+++++++++++++::..............::+:++:+#*##*####*******:..,,,,,.......,,
+*+:**##+:**@#++++:..........:::::+++#:*#WW##++*###****:.,,,,,........,,
+*+*##*:,.##WW#*++::.........:::+:+:*.,*#WW@#+:++**+++*:.,,,,,,.......,,
+*+::+*.,,##WW#*+++:........::::::+*.,,+#WW@#::***++++++.,,,,,,........,
+#::.:+:,,:#WW#+:++::.......::::+:*+.,,,*#W*+:+**+++++++.,,,,,,,........
+#:..:+::,,.*+::+*+::.......::+:::*++:..,..:+**+++++++++.,,,,,,,,.......
+*:...:++:::++++++::::.,,..:::::::::::++++++*+++++:::+++.,,,,,,,,....:..
+*:...::+++++++:++:::...,..:::+::::::::::++++++:::::::++..,,,,,.,.....:.
+*.....::::::::+::::.......::::::::::::::+:::::::::::::+:.,,,,,.,.......
+*.........::::::::....,...::::::::::::::::::::::::::::+:..,,,,.........
**.....................,...::::::::::......::::::::::::++..,,,,.........
**......,.................::::::::::::........::::::::+++:......,.......
*#........................::::::::::..............::::++++......,.......
*#:.......................:::::::::.:.:............::::++*+.............
*#+.....,,,..............:::::::.......::...........::+++**.............
*#*.....,,,,,,...........:::::::...................:::++****............
###.....,,,,,,,,,........::::::::.................:::+++***#:...........
###+.......,,,,,.........::::::::.................:::+++*****...........
###*......,,,,,,........::::::::::................:::+++*****...........
####:......,,,,,.......::::::::::::..............:::+++*******..........
####*......,,,,........:::::::::::::............::::+++*******...,......
####*.........,........:::::::+++++::...........::::+++*****#*..........
#####+..................::::::++++:+:..........:::::+++*******:.........
######......,............::::::++:++::.........::::+++*******+:.........
######:...,...............:::::::::+::........:::::+++*******+:.........
######*..............,,....::::::::+::........::::++++*****+++:.........
#######....................:::::::++::........::::++++****+++::.........
#######+..................:::::::::::::......:::::+++++**++++::.........
########:................::::::+::::::......::::::++++++++++:::.........
########+:...................:::::::::....:::::::++++++++++::::.........
######@##:....................::::::.....::::::::++++++++++:::.:........
#@@@@@@@@+....................::::::::::..::::::+++++++++++:::::........
@@@@@@@@@#:....................:::::::::::::::::++++++++++::::::........
#@@@@@@@@@+:..................::::::::::::::::+:++++++++++:::::+........
@@@@@@@@@@@::.................::::::::::::::::+:++++++++++::::++........
@@@WW@W@@@@*:....::.:::++:.::++++:+++++*+:::::+:+++++++++::::+++:.......
@W@WWWW@WW@@::.:::::+**++++*+++++++****+++:::::+++++++++++:+++*#*.......
@WWWWWW@WW@@#::::::..+++:.::::::++***+++:::::::++++++++++++++*#@#.......
@W@WWWWWWWWW@#::::....++:::::::++++++:+::::+::++++++++++++++*#@@@.......
@@@@@WWWWW@@@@+::::...:::.:::::+++++::::::+:++++++++++++++**#@@W@.......
@WWWWWWWWW@W@@@+:::.....:+++++::::::::::::+++++++++++++++**#@@@@@:......
@WWWWWW@WWWW@@@@+::::.....::::::::::::::::+++++++++++*+**##@@@@@@+......
@@@WWWW@WWWW@@@@@:::.........:::::::::::::+++++++++*****#@@@@@@@@#......
@@WWWWWW@WWW@W@@@@:::.........::::::::::+++++++++*****###@@@@@@@W@......
@@@WWWWW@WWW@W@@@@#:::.........:::::::::++++++++*****##@@@@@@W@@@@......
@@@WW@WWWWW@@WWW@@@#:::..........:::::::+++++++***####@@WW@@@W@@WW:.....
@@@WWWWWWWWWWWWW@W@@*:::..........::::::++++++**##@@@@WWW@@@@WW@@@+.....
@@@WWWWW@WWWWWWWWW@@W+::.........::::::++++++**#@@@@WWWWWWW@@@W@@@*.....
@@W@@@WWWWWWWWWWWWWW@@+::.......::::::++++++*#@@WWWWW@WWWWWWWWW@@@@.....
@WW@WWWWWWWWWWWWWWWWWW@*+:..::::::::::++++*#WWWWWWWWWWWWWWWWWWW@@@@.....
@WWWWWWWWWWWWWWWWWWWWW@W@:::::::::::+++++#WWWWWWWWWWWWWWWWWWW@W@@@@:....
WWWWWWWWWWWWWWWWWWWWWWWWWW#+:+:::::+++*#WWWWWWWWWWWWWWWWWWWW@WW@@@@:....
WWWWWWWWWWWWWWWWWWWWWWWWWWWW@@#****##W@WWWWWWW@WWWWWWWWWWW@@@WW@W@@+....
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW@WW@#....
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW@W@@@:...
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW@@@@@....
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW@@@WWWWWWWWWWWWWWWWWWWWWWWWW@@@@@:...
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW@@W@*...
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW@W#...
WWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWWW@@@@@@@@...




*/


